[submodule "upstream/kicad"]
	path = upstream/kicad
	url = https://gitlab.com/kicad/code/kicad.git
[submodule "upstream/konnect"]
	path = upstream/konnect
	url = https://github.com/hanall/Konnect.git
